/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* Primary = Purple 500 */
  --ifm-color-primary: #7c57ee;
  --ifm-color-primary-dark: #6345be; /* 600 */
  --ifm-color-primary-darker: #4c3593; /* 700 */
  --ifm-color-primary-darkest: #362568; /* 800 */
  --ifm-color-primary-light: #8b64f1; /* 400 */
  --ifm-color-primary-lighter: #a180f4; /* 300 */
  --ifm-color-primary-lightest: #ddd2fc; /* 100 */

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(124, 87, 238, 0.1);
}

/* Dark Mode */
[data-theme="dark"] {
  --ifm-color-primary: #8b64f1; /* 400 */
  --ifm-color-primary-dark: #7c57ee; /* 500 */
  --ifm-color-primary-darker: #6345be; /* 600 */
  --ifm-color-primary-darkest: #4c3593; /* 700 */
  --ifm-color-primary-light: #a180f4; /* 300 */
  --ifm-color-primary-lighter: #bfa9f8; /* 200 */
  --ifm-color-primary-lightest: #f1ecfe; /* 50 */

  --docusaurus-highlighted-code-line-bg: rgba(124, 87, 238, 0.2);
}
